<div class="mgl my-6 py-6">
 <h1>Editing monitem</h1>

  <%= render "form", monitem: @monitem %>

  <br>

  <div>
    <%= link_to "Show this monitem", @monitem %> |
    <%= link_to "Back to monitems", monitems_path %>
  </div>
</div>

