<div class="mgl my-6 py-6">
 
 <h1 class="title px-6"><%= t(".new_monitem") %></h1>

  <%= render "form", monitem: @monitem %>

  <br>

  <div>
    <%= link_to t(".back_to_item"), item_path(@item) %>
  </div>

</div>

